@media only screen and (min-width: 1024px) {
    .card-predeterminadas {
        padding-left: 6rem;
    }
    .card-entradas-publish {
        background: #704c9f;
        color: #fff;
        font-family: unset;
        border: 0px;
        text-align: center;
        -webkit-box-shadow: 2px 6px 15px 0px rgba(69 65 78 / 25%);
        -moz-box-shadow: 2px 6px 15px 0px rgba(69 65 78 / 25%);
        box-shadow: 2px 6px 15px 0px rgba(69 65 78 / 25%);
        padding: 1rem;
    }

    .cant-publish {
        font-size: 35px;
        text-align: -webkit-left;
        line-height: 2rem;
        font-family: unset;
        color: white;
    }

    .cant-borrador {
        font-size: 35px;
        text-align: -webkit-left;
        line-height: 2rem;
        font-family: unset;
        color: black !important;
    }

    .card-options {
        color: #000;
        font-family: unset;
        border-style: solid;
        border-radius: 5px !important;
        border-color: transparent;
        text-align: center;
        -webkit-box-shadow: 2px 6px 15px 0px rgba(69 65 78 / 25%);
        -moz-box-shadow: 2px 6px 15px 0px rgba(69 65 78 / 25%);
        box-shadow: 2px 6px 15px 0px rgba(69 65 78 / 25%);
        margin-block-end: 2rem;
    }

    .card-entradas-borrador {
        background: #1572e8;
        color: #000;
        font-family: unset;
        border-style: solid;
        border-radius: 5px !important;
        border-color: transparent;
        text-align: center;
        -webkit-box-shadow: 2px 6px 15px 0px rgba(69 65 78 / 25%);
        -moz-box-shadow: 2px 6px 15px 0px rgba(69 65 78 / 25%);
        box-shadow: 2px 6px 15px 0px rgba(69 65 78 / 25%);
        padding: 1rem;
    }

    .btn-primary-ap {
        background-color: #704c9f;
        color: white;
        border-color: #704c9f;
        border-radius: 1px;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        border: 1px solid transparent;
        padding: 0.375rem 0.75rem;
        font-size: 0.9rem;
        line-height: 1.6;
        border-radius: 0.25rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
            border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    .btn-primary-predeterminada {
        background-color: #1572e8;
        color: black;
        border-color: #1572e8;
        border-radius: 1px;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        border: 1px solid transparent;
        padding: 0.375rem 0.75rem;
        font-size: 0.9rem;
        line-height: 1.6;
        border-radius: 0.25rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
            border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        width: 6.5rem;
    }

    .btn-secondary-ap {
        background-color: #1572e8;
        color: white;
        border-color: #1572e8;
        border-radius: 1px;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        border: 1px solid transparent;
        padding: 0.375rem 0.75rem;
        font-size: 0.9rem;
        line-height: 1.6;
        border-radius: 0.25rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
            border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
}

.title-publish {
    color: #fff;
    font-family: unset;
}

@media only screen and (min-width: 320px) and (max-width: 1023px) {
    .card-options {
        color: #000;
        font-family: unset;
        border-style: solid;
        border-radius: 5px !important;
        border-color: transparent;
        text-align: center;
        -webkit-box-shadow: 2px 6px 15px 0px rgba(69 65 78 / 25%);
        -moz-box-shadow: 2px 6px 15px 0px rgba(69 65 78 / 25%);
        box-shadow: 2px 6px 15px 0px rgba(69 65 78 / 25%);
        margin-block-end: 1.5rem;
    }

    .card-entradas-publish {
        background: #704c9f;
        color: #fff;
        font-family: unset;
        border: 0px;
        text-align: center;
        -webkit-box-shadow: 2px 6px 15px 0px rgba(69 65 78 / 25%);
        -moz-box-shadow: 2px 6px 15px 0px rgba(69 65 78 / 25%);
        box-shadow: 2px 6px 15px 0px rgba(69 65 78 / 25%);
        margin-block-end: 1rem;
        padding: 1rem;
    }

    .card-entradas-borrador {
        background: #1572e8;
        color: #000;
        font-family: unset;
        border-style: solid;
        border-radius: 5px !important;
        border-color: transparent;
        text-align: center;
        -webkit-box-shadow: 2px 6px 15px 0px rgba(69 65 78 / 25%);
        -moz-box-shadow: 2px 6px 15px 0px rgba(69 65 78 / 25%);
        box-shadow: 2px 6px 15px 0px rgba(69 65 78 / 25%);
        margin-block-end: 1.5rem;
        padding: 1rem;
    }

    .btn-primary-ap {
        /*width: 30%;*/
        background-color: #704c9f;
        color: white;
        border-color: #704c9f;
        border-radius: 1px;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        border: 1px solid transparent;
        padding: 0.375rem 0.75rem;
        font-size: 18px;
        line-height: 20px;
        border-radius: 0.25rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
            border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .btn-table-responsive {
        width: auto !important;
    }

    .btn-secondary-ap {
        background-color: #1572e8;
        color: white;
        border-color: #1572e8;
        border-radius: 1px;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        border: 1px solid transparent;
        padding: 0.375rem 0.75rem;
        border-radius: 0.25rem;
        /*width: 30%;*/
        font-size: 18px;
        line-height: 20px;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
            border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .btn-primary-predeterminada {
        background-color: #1572e8;
        color: white;
        border-color: #1572e8;
        border-radius: 1px;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        border: 1px solid transparent;
        padding: 0.375rem 0.75rem;
        font-size: 0.9rem;
        line-height: 1.6;
        border-radius: 0.25rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
            border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        width: 6rem;
    }

    .title-publish {
        color: #fff;
        font-family: unset;
        text-align: initial;
    }

    .title-borrador {
        color: #000;
        font-family: unset;
        text-align: initial;
    }

    .cant-borrador {
        font-size: 35px;
        text-align: end;
        line-height: 2rem;
        font-family: unset;
        color: black !important;
        margin-top: 1%;
    }
    .cant-publish {
        font-size: 35px;
        text-align: end;
        line-height: 2rem;
        font-family: unset;
        color: white;
        margin-top: 1%;
    }
}

@media only screen and (min-width: 200px) and (max-width: 319px) {
    .card-options {
        color: #000;
        font-family: unset;
        border-style: solid;
        border-radius: 5px !important;
        border-color: transparent;
        text-align: center;
        -webkit-box-shadow: 2px 6px 15px 0px rgba(69 65 78 / 25%);
        -moz-box-shadow: 2px 6px 15px 0px rgba(69 65 78 / 25%);
        box-shadow: 2px 6px 15px 0px rgba(69 65 78 / 25%);
        margin-block-end: 1.5rem;
    }

    .card-entradas-publish {
        background: #704c9f;
        color: #fff;
        font-family: unset;
        border: 0px;
        text-align: center;
        -webkit-box-shadow: 2px 6px 15px 0px rgba(69 65 78 / 25%);
        -moz-box-shadow: 2px 6px 15px 0px rgba(69 65 78 / 25%);
        box-shadow: 2px 6px 15px 0px rgba(69 65 78 / 25%);
        margin-block-end: 1rem;
        padding: 1rem;
    }

    .card-entradas-borrador {
        background: #1572e8;
        color: #000;
        font-family: unset;
        border-style: solid;
        border-radius: 5px !important;
        border-color: transparent;
        text-align: center;
        -webkit-box-shadow: 2px 6px 15px 0px rgba(69 65 78 / 25%);
        -moz-box-shadow: 2px 6px 15px 0px rgba(69 65 78 / 25%);
        box-shadow: 2px 6px 15px 0px rgba(69 65 78 / 25%);
        margin-block-end: 1.5rem;
        padding: 1rem;
    }

    .btn-primary-ap {
        /*width: 30%;*/
        background-color: #704c9f;
        color: white;
        border-color: #704c9f;
        border-radius: 1px;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        border: 1px solid transparent;
        padding: 0.375rem 0.75rem;
        font-size: 18px;
        line-height: 20px;
        border-radius: 0.25rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
            border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .btn-table-responsive {
        width: auto !important;
    }

    .btn-secondary-ap {
        background-color: #1572e8;
        color: white;
        border-color: #1572e8;
        border-radius: 1px;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        border: 1px solid transparent;
        padding: 0.375rem 0.75rem;
        border-radius: 0.25rem;
        /*width: 30%;*/
        font-size: 18px;
        line-height: 20px;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
            border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .btn-primary-predeterminada {
        background-color: #1572e8;
        color: white;
        border-color: #1572e8;
        border-radius: 1px;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        border: 1px solid transparent;
        padding: 0.375rem 0.75rem;
        font-size: 0.9rem;
        line-height: 1.6;
        border-radius: 0.25rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
            border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        width: 6rem;
    }

    .title-publish {
        color: #fff;
        font-family: unset;
        text-align: initial;
    }

    .title-borrador {
        color: #000;
        font-family: unset;
        text-align: initial;
    }

    .cant-borrador {
        font-size: 35px;
        text-align: end;
        line-height: 2rem;
        font-family: unset;
        color: black !important;
        margin-top: 1%;
    }
    .cant-publish {
        font-size: 35px;
        text-align: end;
        line-height: 2rem;
        font-family: unset;
        color: white;
        margin-top: 1%;
    }
}

.title-options {
    text-align: initial;
    padding: 2rem;
    margin-top: -1em;
    margin-block-end: -3rem;
}

.title-options h4 {
    font-size: 25px;
    font-weight: normal;
    line-height: 2rem;
}

.image_icon {
    width: 75px;
    height: 75px;
    display: block;
    margin: auto;
}

.link_panel {
    color: #000 !important;
    font-family: unset;
    text-decoration: none !important;
}

.card-adminpanel {
    color: #000;
    font-family: unset;
    border-style: solid;
    border-radius: 5px !important;
    border-color: transparent;
    -webkit-box-shadow: 2px 6px 15px 0px rgba(69 65 78 / 25%);
    -moz-box-shadow: 2px 6px 15px 0px rgba(69 65 78 / 25%);
    box-shadow: 2px 6px 15px 0px rgba(69 65 78 / 25%);
}

.card-adminpanel h5 {
    font-size: 20px;
    font-weight: 500;
    line-height: 2em;
}

.btn-delete-ap {
    margin-top: 10px;
}
