.alert-danger-register{
    color: #fff;
    background: #dc2020;
    border-color: #dc2020;
    font-family: unset;
    padding: 10px;
    border-radius: 1px;
    display: block;
    margin: auto;
    width: 70%;
}

.text-aclaracion{
    font-size: 12px;
    color: black;
    font-family: unset;
    line-height: 14px;
    text-align: justify;
}